/*#region ----------UTILS---------- #*/
/*#region ----------var---------- #*/
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

/*#endregion #*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*#endregion #*/
/*#region ----------BASE---------- #*/
/*#region ----------teg---------- #*/
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: sans-serif;
  font-style: normal;
  color: white;
  background-color: white;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid var(--seven-color);
  padding: 10px 0;
}

/*#endregion #*/
/*#endregion #*/
/*#region ----------COMPONETS---------- #*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*#endregion #*/
/*#region ----------LAYOUT---------- #*/
.header {
  margin-bottom: 10px;
  text-align: center;
  background-color: darkblue;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery__item {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin-left: 30px;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.gallery__image {
  height: 240px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform var(--animation-duration) var(--timing-function);
  transition: -webkit-transform var(--animation-duration) var(--timing-function);
  transition: transform var(--animation-duration) var(--timing-function);
  transition: transform var(--animation-duration) var(--timing-function), -webkit-transform var(--animation-duration) var(--timing-function);
}

.gallery__image:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5px;
  list-style: none;
}

.info-item {
  text-align: center;
}

.load-more {
  padding: 10px;
  border-radius: 5px;
  border: hidden;
  color: white;
  background-color: darkblue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/*#endregion #*/
/*# sourceMappingURL=main.css.map */